:root {
    --primer-color: #997A74;
    --segundo-color: #A37C86;
    --tercer-color: #BB72BC;
    --cuarto-color: #2C51BB;
    --quinto-color: #787499;
    --sexto-color: #F6F6F6;
    --fondo-color: #0f0e17;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container-QS {
    background-color: var(--fondo-color); /* Se aplica solo al contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.title-QS {
    color: var(--sexto-color);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.cards-QS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.card-QS {
    background-color: var(--fondo-color);
    width: 18rem;
    color: var(--sexto-color);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-QS:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.card-QS img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(255, 255, 255, 0.3);
}

.card-QS h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.icon-QS {
    color: var(--sexto-color);
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: transform 0.2s ease;
}

.icon-QS:hover {
    transform: scale(1.2);
}

.btn-back-to-home {
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: var(--sexto-color);
    background-color: var(--tercer-color);
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-back-to-home:hover {
    background-color: var(--segundo-color);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .cards-QS {
        flex-direction: column;
        align-items: center;
    }

    .btn-back-to-home {
        width: 80%;
        max-width: 300px;
        margin: 2rem 0;
    }
}
