html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.body {
    background-color: #776cce;
    height: 100%;
}

.container {
    padding: 20px; /* Puedes ajustar el espaciado según tus necesidades */
    height: 100%;
}

.p {
    color: #a7a9be;
}


