html, body {
  height: 100vh;
  background-color: #0f0e17;
}

body {
  margin: 0; /* Asegura que no haya margen externo */
  padding: 0; /* Asegura que no haya relleno interno */
 min-height: 100vh;
  
  background-color: #0f0e17; /* Color de fondo deseado */
}

.main-wrapper {
    height: 100vh;
}